@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', Helvetica, Arial;
    background-color: #F3F9D2;
    color: #131B23;
    margin: 0;
    padding: 0;
}

header {
    background-color: #c40000;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    color: #ffffff;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 40px;
    text-align: center;
}

h2 {
    color: #c40000;
}

footer {
    background-color: #131B23;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer em {
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
}

.elklogo {
    max-width: 250px;
    height: auto;
    margin: auto;
}
