<nav class="navfooter">
    <a href="index.html" class="afooter">Home    </a>
    <a href="events.html" class="afooter">Events    </a>
    <a href="factions.html" class="afooter">Factions    </a>
    <a href="gallery.html" class="afooter">Gallery    </a>
    <a href="contact.html" class="afooter">Contact    </a>
    <a href="review1.html" class="afooter">Peer Review 1    </a>
    <a href="review2.html" class="afooter">Peer Review 2    </a>
</nav>
<p>© 2025 <a href="../../ewersmanninnovations.com/index.html" class="afooterLower">Ewersmann Innovations</a>, Certified in <a href="https://www.freecodecamp.org/certification/aewersma/responsive-web-design" class="afooterLower">Responsive Web Design</a> &amp; <a href="https://www.freecodecamp.org/certification/aewersma/javascript-algorithms-and-data-structures-v8" class="afooterLower">JS Algorithms & Data Structures</a></p>
<a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
    <img style="border:0;width:88px;height:31px" src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" alt="Valid HTML!">
</a>
  
<a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
    <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
</a>