<nav>
    <a href="https://webpages.charlotte.edu/aewersma/">Charlotte.edu</a>
    ||
    <a href="https://github.com/aewersma/aewersma.github.io">Github</a>
    ||
    <a href="https://aewersma.github.io/">Github.io</a>
    ||
    <a href="https://www.freecodecamp.org/aewersma">freeCodeCamp</a>
    ||
    <a href="https://www.codecademy.com/profiles/aewersma">Codeacademy</a>
    ||
    <a href="https://www.linkedin.com/in/arthur-ewersmann-362718249/">LinkedIn</a>
</nav>
<p>© 2025 <a href="../ewersmanninnovations.com/index.html">Ewersmann Innovations</a>, Certified in <a href="https://www.freecodecamp.org/certification/aewersma/responsive-web-design">Responsive Web Design</a> &amp; <a href="https://www.freecodecamp.org/certification/aewersma/javascript-algorithms-and-data-structures-v8">JS Algorithms &amp; Data Structures</a></p>
<a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
    <img style="border:0;width:88px;height:31px" src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" alt="Valid HTML!">
</a>

<a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
    <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
</a>