<h1> Arthur Ewersmann's Anxious Elk || ITIS 3135</h1>
            <nav>
                <a href="./">Homepage</a>
                ||
                <a href="introduction.html">Introduction</a>
                ||
                <a href="contract.html">Contract</a>
            </nav>
            <nav>
                <a href="website_evaluations.html">Website Evaluations</a>
                ||
                <a href="../hobby/index.html">Hobby Website</a>
                ||
                <a href="../anxiouselk/meaningless_fOlder/fish! BesTwebsite_nAME¬¬.htm">CRAPPY</a>
                ||
                <a href="tables.html">HTML Tables</a>
            </nav>